{% extends "layout.html" %}

{% block body %}

	<h2>会員制の掲示板</h2>
	<!-- テストページ -->
	<form action="/logout">
		<div class="form-gropu">
			<button type="submit" class="btn btn-primary">ログアウト</button>
		</div>
	</form>

	<form action="/write" method="post">
		<div class="form-group">
			<textarea class="form-control" name="msg" rows="5"></textarea><br>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">書込み</button>
		</div>
	</form>

	{% for card in cards %}
	<div class="card">
		<div class="card-body">
		<h5 class="card-title">{{card.msg}}</h5>
		<p class="card-text">{{card.usr}} {{card.time}}</p>

		</div>
	</div>
	{% endfor %}

{% endblock %}
